<div id="loading">
      <img src="assets/Personal_logo.png" alt="">
      <p>Welcome, please wait.</p>
    </div>

    <div id="app">
      <h1><a href="#">Hello.</a></h1>
      <p>My name is Mitchel Staal. These are my projects.</p>
      <img src="assets/nanami.png" alt="">
      <section>
        <h2>My Projects</h2>
        <h3 class="repoAmount"></h3>
          <ul>
			{{#each data}}
			<li>
			  <a href="{{html_url}}">
        <h3>{{name}}</h3>
			  <p>{{description}}</p>
        <p>{{topics}}</p>
        
        </a>
			</li>
			{{/each}}
		  </ul>
      </section>
      <footer>
        <p>Copyright © 2023 <a href="https://github.com/Mitchel-DS">Mitchel Staal</a></p>  
      </footer>
    </div>
    <script type="module" src="js/main.js"></script>