<div id="loading">
      <img src="assets/Personal_logo.png" alt="Personal logo Mitchel Staal">
      <p>Welcome, please wait.</p>
    </div>

    <div id="app">
      <h1><a href="#">Hello.</a></h1>
      <p>My name is Mitchel Staal. These are my projects.</p>
      <img src="assets/Personal_logo.png" alt="Personal logo Mitchel Staal">
      <section>
        <h2>My Projects</h2>
        <h3 class="repoAmount"></h3>
          <ul>
			{{#each data}}
			<li>
			  <a href="/details/{{name}}">
        <h3>{{name}}</h3>
			  <p>{{description}}</p>
        <p>{{topics}}</p>
        
        </a>
			</li>
			{{/each}}
		  </ul>
      </section>
    </div>
    <script src="js/main.js"></script>